<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<!-- css -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<header>
		<!-- Just an image -->
		  <nav class="navbar navbar-light bg-light">
		    <span class="navbar-brand mb-0 h1" style="font-weight:bold;" >MvsBlog</span>
 		    <a class="navbar-brand" href="#">
    	      <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
            </a>
         </nav>
         
         <section>
         	<div class = "Container" style="width:60%; padding-bottom:30;" >
         	
         		<nav aria-label="breadcrumb">
  					<ol class="breadcrumb" style=" background-color:white; padding-left:50px;  ">
   						 <li class="breadcrumb-item active" aria-current="page">Posts</li>
  					</ol>
				</nav>
         	
         		<div class="card shadow-sm bg-white rounded" style="margin-top:20px;">
  					<div class="card-body">
  						This is some text within a card body.
  					</div>
				</div>
         	</div>
         </section>
     
         
	</header>
	
	<section>
	
	
	</section>

</body>
</html>